.ContentPage5 {
  background-color: var(--bgColor);
  color: var(--textColor);
  font-family: sans-serif;
  display: flex;
  /* height: 90vh; */
  padding: 80px 0px;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px dotted var(--textColor);
}

.ContentPage5 h1 {
  font-size: 60px;
  font-weight: bolder;
  margin-bottom: 40px;
}

.ContentPage5 .Contact1 h3 {
  font-weight: 300;
  font-size: 17px;
}
.Contact1Inner {
  display: flex;
  /* justify-content: center; */
  padding-bottom: 13px;
  align-items: center;
}

.Contact1Inner img {
  margin-right: 15px;
}

.ContactSocialLogo {
  margin: 15px 0px 35px 0px;
}

.LogoColorChange {
  filter: var(--logoColor);
}

.ContactSocialLogo img {
  margin-right: 10px;
}

.ContactSocialLogo img:hover {
  transform: scale(1.2);
}


#Resume{
  display: flex;
  
}

#CVdownload {
  color: white;
  text-decoration: none;
}

#ResumeInner1{
  width: 50%;
  border: 1px solid red;
  font-size: 22px;
  border-radius: 15px 0px 0px 15px;
  padding: 5px;
  background-color: rgba(162, 14, 14, 0.852);
  
}
#ResumeInner2{
  width: 50%;
  border: 1px solid red;
  font-size: 22px;
  border-radius: 0px 15px 15px 0px;
  padding: 5px;
  background-color: rgba(162, 14, 14, 0.852);
}


.Contact2 {
  margin-left: -100px;
}

.Contact2 input {
  width: 40vw;
  font-size: 17px;
  margin-bottom: 25px;
  border-radius: 5px;
  padding: 7px;
  background-color: var(--contactInputbg);
  border: none;
  font-weight: bolder;
  color: white;
}

.Contact2 textarea {
  color: white;
  margin-top: 15px;
  border: none;
  background-color: var(--contactInputbg);
  padding: 7px;
  width: 40vw;
  height: 30vh;
  font-size: 17px;
  border-radius: 5px;
}

.Contact2 button {
  width: 100px;
  cursor: pointer;
  border: none;
  background-color: rgba(162, 14, 14, 0.852);
  font-size: 17px;
  color: rgba(255, 255, 255, 0.736);
  border-radius: 10px;
  padding: 5px;
  margin-top: 20px;
}

.ContentPage5 button:hover {
  color: white;
  transform: scale(1.1);
  box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.614);
}
